<section class="monster-details" *ngIf="monster" :Loading>
  <div class="monster-avatar">
    <img
      src="https://robohash.org/{{ monster.id }}?set=set2&size=220x220"
      alt=""
    />
    <h2>{{ monster.name }}</h2>
  </div>
  <div class="details">
    <p><span>username:</span> {{ monster.username }}</p>
    <p><span>email:</span> {{ monster.email }}</p>
    <p>
      <span>address:</span> {{ monster.address.street }},
      {{ monster.address.city }}
    </p>
    <p><span>phone:</span> {{ monster.phone }}</p>
    <p><span>website:</span> {{ monster.website }}</p>
    <p><span>company:</span> {{ monster.company.name }}</p>
  </div>
</section>

<ng-template class="loading" #Loading>
  <h1>Loading...</h1>
</ng-template>
