.monster-details {
  width: 60%;
  margin: 90px auto;
  display: flex;
  justify-content: center;
  column-gap: 70px;
  align-items: center;
  border: 1px solid hsla(178, 89%, 42%, 0.3);
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #0ccac4;
  font-family: "Bigelow Rules", cursive;
  font-size: 30px;
}

p {
  font-size: 18px;

  color: aqua;
}

.details span {
  text-transform: capitalize;
  font-size: 18px;
  color: #0ccac4;
}

.loading {
  margin: 200px auto;
}

h1 {
  text-align: center;
}
